.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared style  */
.display-flex {
    display: flex;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

/* dark-2 */
.text-dark {
    color: #424242;
}

/* dark-3 */
.text-light-dark {
    color: #727272;

}

.primary-btn {
    background-color: #FF900E;
    color: white;
    font-size: 1.2rem;
    padding: 20px 24px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

.main {
    max-width: 1400px;
    margin: 0 auto;
}

.main>section {
    margin-top: 130px;
}

.text-primary {
    color: rgba(255, 144, 14, 1);
}

.section-title {
    font-size: 3.8rem;
    font-weight: bold;
}



/* header style  */


/* nav related style  */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
}

.brand {
    font-size: 2.6rem;
}

.links-item {
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related style  */
.banner-title {
    font-size: 4rem;
    font-weight: bold;
}

.banner-image {
    width: 100%;
}

.banner-content {
    max-width: 560px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;
}

/* team section designed start  */
.teams {
    align-items: center;
}

.team-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.team-image-container>img {
    width: 100%;
}

.our-features {
    max-width: 530px;
    margin-left: 130px;
}


#Quick-list {
    font-weight: 500;
}


/* responsive media for header  */
@media screen and (max-width:576px) {

    .navbar,
    .nav-links {
        flex-direction: column;
    }

    .banner-title {
        font-size: 3rem;
        font-weight: bold;
    }

    /* for team section  */
    .teams {
        flex-direction: column;
    }

    .our-features {
        margin-left: 20px;
    }

    .team-image-container {
        grid-template-columns: repeat(1, 1fr);

    }

}

/* responsive for medium device  */
@media screen and (min-width:576px) and (max-width:992px){
    .teams{
        flex-direction: column;
    }
     .our-features {
        margin-left: 0px;
    }
}